@model OneMits.Models.Search.SearchModel



@if (!Model.EmptySearchResults)
{
    @foreach (var question in Model.Questions)
    {
        <div id="tab1" class="w3-container  city">
            <div class="set-container">
                <div>
                    <p class="question">
                        <a style="text-decoration: none;color:#302b2b"
                           asp-controller="Question" asp-action="Index" asp-route-id="@question.QuestionId">
                            @question.QuestionTitle
                        </a>
                    </p>
                </div>
                <div>
                    <p class="by-part">By - <a asp-controller="Profile" asp-action="Details" asp-route-id="@question.AuthorId" class="take-part">
                        @question.AuthorName</a>&nbsp &nbsp Category - 
                    <a asp-controller="Category" asp-action="Topic" asp-route-id="@question.Category.CategoryId" class="take-part">
                      @question.Category.CategoryTitle
                    </a></p>
                </div>
                <div class="answer">
                    <p>
                        @question.QuestionContent
                    </p>
                </div>

                <div>
                    <p class="by-part ml-800"><strong>By -</strong>
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@question.AuthorId" class="take-part">
                        @question.AuthorName</a></p>
                </div>

                <div class="margin"> </div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="like-com ">
                            @*<a class="like-style"><i class="fa fa-heart" style="font-size:20px;"></i>&nbsp 25</a>*@
                            <a class="margin-rp like-style like-style ">
                                <i class="fa fa-eye" style="font-size:20px;"></i>&nbsp
                                @question.NumberView
                            </a>
                            <a>
                                <i class="fa fa-comment" style="font-size:20px;"></i>&nbsp
                                @if (question.AnswerCount == 0)
                                {
                                    <span>No Replies</span>
                                }
                                else
                                {
                                    <span>@question.AnswerCount Replies</span>
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 mt-time">
                        <a class="time-style"><i class="fa fa-history" style="font-size:20px;"></i>&nbsp  @question.QuestionCreated</a>
                    </div>
                </div>


            </div>
        </div>
    }
}
else
{
    <div class="noPosts">
        <h3>
            No search Results found for @Model.SearchQuery<br />
        </h3>
    </div>
}

@section Scripts{
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}





